:root{
    --primnary-color: rgb(63, 245, 245);
    --secondary-color: rgb(255, 255, 255);
    --tertiary-color: rgb(179, 0, 255);
}

body{
    background: var(--primnary-color);
    font-size: 15px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#container {
    height: 525px;
    width: 360px;
    margin: 100px auto;
    background: rgb(232, 232, 232);
    box-shadow: 3px 6px 6px  rgb(255, 98, 224);
    border-radius: 22px;
}

.title {
    background: var(--tertiary-color);
    color: var(--secondary-color);
    padding: 20px;
    text-transform: uppercase;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 23px;
    font-weight: normal;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    text-align: center;
}
.questions{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(104, 11, 176);
    font-size: 17px;
}

.tipsForm{
    padding-left: 25px;
    padding-right: 25px;
}

.formInput{
    background: rgb(254, 254, 254);
    width: 80px;
    padding: 5px 5px 8px 8px;
}

.formInput :focus{
    border: 3px solid var(--primnary-color);
    outline: none;
}

.formSelect{
    width: 170px;
    padding: 5px;
    font-size: 12px;
}

.formSubmit{
    text-transform: uppercase;
    font-weight: bold;
    display: block;
    margin: 30px auto;
    background: var(--tertiary-color);
    border-radius: 5px;
    width: 200px;
    height: 50px;
    font-size: 18px;
    color: white;
}

#totalTip{
    font-size: 20px;
    margin-top: 5px;
    text-align: center;
}

a:visited{ 
    color: greenyellow;
}

a:hover{
    color:aqua;
}

a:active{
    color: brown;
}